
.regH1
{
    text-align:  center;
    font-family:cursive; 
    font-size: 30px;
    position: relative;
    top: 80px;
    color: white;
}
.regform {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 300px;
    margin-top: 150px;
}
span
{
    color:white;
}

form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 444px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 30px 0 rgba(0,0,0,0.2);
}

input {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ced4da;
}

button {
    /* position: relative;
    top: 40px; */
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: #847AA4;
    color: white;
    cursor: pointer;
    margin-top: 40px;
}
p{
    cursor: pointer;
}